@model PogoInsurance.Models.IndexViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0">
    <title>Pogo Insurance</title>
    <link href="~/Content/stylesheet.css" rel="stylesheet" />
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/fbb15fc2fb.js" crossorigin="anonymous"></script>
</head>
<body>

    <!--Header start from Here-->
    <header><a href=""><img src="~/images/logo.png" alt="" /></a></header>
    <!--Header End Here-->
    <!--Body start from Here-->
    <div class="mainCont">
        <div class="container">
            @using (Html.BeginForm("businessbasics", "Index", FormMethod.Post))
            {
                <div class="backbtn">
                    <a href="@Url.Action("coverageoptions", "Index")"><i class="fa-solid fa-left-long"></i> Back</a>
                </div>
                <h1 class="m-50">Business basics</h1>

                <div class="businessStructure">
                    <h3 class="m-20">Business Structure</h3>
                    <div class="structureList m-50">
                        @for (var i = 0; i < Model.BusinessStructure.Count(); i++)
                        {

                            <div class="radioBxOuter">
                                @Html.RadioButton("SelectedBusiness", Model.BusinessStructure[i].Id, false, new { Id = @Model.BusinessStructure[i].Id })

                                <label for="@Model.BusinessStructure[i].Id">@Model.BusinessStructure[i].Name</label>
                                <div class="check"></div>

                            </div>

                        }

                        <div class="itemselect">
                            <div class="custom-select">
                                @Html.DropDownListFor(M => M.SelectedItem, new SelectList(Model.SelectedList, "Id", "Name"))

                            </div>
                        </div>
                    </div>
                    <div class="businessStructure">
                        <div class="startbusiness m-50">
                            <h3 class="m-10">What year did you start your business?</h3>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.BusinessStartDate, new { type = "Date", @class = "frmInp" })
                            </div>
                        </div>
                    </div>
                    <div class="businessStructure m-50">
                        <div class="startbusiness m-10">
                            <h3 class="m-10">
                                FEIN <i class="tooltip">
                                    ?
                                    <span class="left">In workers' comp, the type of work is referred to as a "class code".</span>
                                </i>
                            </h3>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.FEIN, new { @class = "frmInp" })
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="m-50">Financial Information</h1>
                <div class="businessStructure m-50">
                    <h3 class="m-10">
                        Esimated Revenue
                        <i class="tooltip">
                            ?
                            <span class="left">Enter your projected revenue over the next 12 months-- before expenses.</span>
                        </i>
                    </h3>
                    <div class="dollarFld">
                        @Html.TextBoxFor(m => m.EsimatedRevenue, new { @class = "frmInp" })
                        <i class="fa-solid fa-dollar-sign"></i>
                    </div>
                </div>
                <div class="button-grpup">
                    <button class="nextBtn" type="submit">Next <i class="fa-solid fa-right-long"></i></button>
                    @*<a href="the-team.html" class="nextBtn">Next <i class="fa-solid fa-right-long"></i></a>*@
                </div>
            }
        </div>
    </div>
    <!--Body End Here-->
    <!--Footer start from Here-->
    <footer>
        Copyright 2022 / <a href="">Privacy</a> / <a href="">Terms</a>
    </footer>
    <!--Footer End Here-->

    <script src="~/Scripts/dropdown.js"></script>
</body>

</html>